@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #111827; /* gray-900 */
  color: white;
}

html {
  height: 100%; /* causes issues for larger page content ugh */
}
body {
  min-height: 100%;
}

div#__next {
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

details summary {
  cursor: pointer;
}

.pswp__custom-caption:empty {
  padding: 0;
}
.pswp__custom-caption {
  width: calc(100% - 32px);
  max-width: 450px;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.pswp__gallery-title {
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
}
.hidden-caption-content {
  display: none;
}
